.Home {
    margin: 0px 400px 0px 400px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: rgba(240, 240, 240, 0.12) 0px 2px 4px 0px, rgba(240, 240, 240, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webcam-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.webcam-overlay {
    position: absolute;
    border: 3px solid red;
    z-index: 2;
}

.webcam-container > video {
    box-shadow: rgba(240, 240, 240, 0.12) 0px 2px 4px 0px, rgba(240, 240, 240, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
}

.name-container {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
